<!DOCTYPE html>
<html>
<head>
<style>
body {
margin: 0;
font-family: Arial, Helvetica, sans-serif;
}
 
.bg-image {
background-image: url("music.jpg");
background-color: #161615;
height: 550px;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}
.bg-text {
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
}
 
</style>
</head>
<body>
<div class="bg-image">
<div class="bg-text">
  <h1><mark>Music Recommendations System</mark></h1>

	
  
   
  <form name="passdata" action="/about" method="post">
        <div>
    <label for="quantity"> Song Id[1-4990] :</label>
    <input type="number" id="quantity" name="number" min="1" max="4999"1>
    <label for="recommend">Recommendations[1-40]</label>
    <input type="number" id="recommend" name="recommend" min="1" max="40">
     
    <input type="submit">
    
     </div>
     </form>

{% if prediction_text %}
 <style>
table, th, td {
  border:4px solid green;
}
</style>
<body>

<h2>Music Recommendations Results</h2>

<table style="width:100%">
  <tr>
  <th>Songs List</th>
 
  </tr>
  <tr>
  <td>{{ prediction_text }}</td>
 
  </tr>
{% endif %} 

</div>
</div>
 </body>
</html>